<section id="about" class="about">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        <div class="section-content">
            <div class="about-image">
                <img src="assets/images/harsh_profilepic.jpg" alt="Harsh Sutariya">
            </div>
            <div class="about-text">
                <p>I'm a developer passionate about building innovative solutions using modern technologies. With
                    expertise in Flutter for cross-platform app development, DevOps practices for efficient
                    deployment, and a growing knowledge in AI and ML, I create robust and intelligent applications.
                </p>
                <p>I enjoy tackling complex problems and constantly learning new technologies to expand my skill
                    set.</p>
            </div>
        </div>
    </div>
</section>