<footer>
    <div class="container">
        <div class="footer-content">
            <div class="copyright">
                &copy; 2023 Harsh Sutariya. All rights reserved.
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script src="assets/js/script.js"></script>